// Writing your own styles should be the last resort.
// Please try your best to use the existing Bootstrap classes first.

// From the "spring colors" palette given by the client
$primary: rgba(124, 186, 70, 0.4);
$success: rgba(91, 154, 61, 0.5);
$danger: rgba(208, 41, 42, 0.5);
$warning: rgba(253, 174, 86, 0.5);
$info: rgba(20, 92, 155, 0.5);

// Bootstrap doesn't do this for some reason
// No need to touch this
$primary-text: mix(black, $primary, 20%);
$success-text: mix(black, $success, 20%);
$danger-text: mix(black, $danger, 20%);
$warning-text: mix(black, $warning, 20%);
$info-text: mix(black, $info, 20%);

$primary-bg-subtle: mix(white, $primary, 80%);
$success-bg-subtle: mix(white, $success, 80%);
$danger-bg-subtle: mix(white, $danger, 80%);
$warning-bg-subtle: mix(white, $warning, 80%);
$info-bg-subtle: mix(white, $info, 80%);

$primary-border-subtle: mix(white, $primary, 60%);
$success-border-subtle: mix(white, $success, 60%);
$danger-border-subtle: mix(white, $danger, 60%);
$warning-border-subtle: mix(white, $warning, 60%);
$info-border-subtle: mix(white, $info, 60%);

$link-color: #212529;

$input-placeholder-color: rgba(0, 0, 0, 0.4);

$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap';
$bootstrap-icons-font-dir: '~bootstrap-icons/font/fonts';
@import '~bootstrap-icons/font/bootstrap-icons';
@import 'calendar';

:root {
  --bs-link-opacity: 0.75;

  --bs-font-sans-serif: 'Inter', sans-serif;

  --bs-border-width: 2px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  letter-spacing: -0.011em;
}

main {
  flex-grow: 1;
}

.navbar {
  background-color: rgba(251, 251, 253, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

// Hero (homepage)
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero.webp') no-repeat center center;
  background-size: cover;
  padding: 3rem 1rem;

  .ressourcerie-brand {
    filter: invert(1);
  }

  > * {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }
}

// RessourceRie brand
.ressourcerie-brand {
  height: calc(var(--bs-body-font-size) * var(--bs-body-line-height) * 1.1);
  vertical-align: bottom;
  -webkit-user-drag: none;

  &::selection {
    background-color: transparent;
  }
}

footer img {
  opacity: 0.75;
}

input {
  letter-spacing: inherit;
}

::selection {
  background-color: rgba(var(--bs-primary-rgb), 0.25);
}

// Fix for Bootstrap's input autofill styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bs-primary-bg-subtle) inset !important;
}

.object-card {
  position: relative;
  width: 200px;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 0.9rem;

  justify-content: space-between;

  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);

  .object-card-img {
    overflow: hidden;
    justify-self: start;
    height: 200px;
    background-color: #868e96;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    }

    & + div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      padding: 0.5rem;
    }
  }

  &:hover img {
    transform: scale(1.1);
  }

  .object-card-title {
    font-weight: bold;
  }

  &.sold {
    &:before {
      content: 'Vendu';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.75);
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
}

.table {
  // Sorting indicators
  > thead > tr > th {
    &::after {
      content: '▼';
      visibility: hidden;
      user-select: none;
    }

    &.sorting-asc::after {
      visibility: visible;
    }

    &.sorting-desc::after {
      visibility: visible;
      content: '▲';
    }
  }

  // Always align table cells vertically in the middle
  > tbody > tr {
    > th,
    > td {
      vertical-align: middle;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

main > .alert:first-child {
  margin: 2rem 4rem 1rem;
}

/* highlightTyped use mark */
.autocomplete-menu mark {
  text-decoration: underline;
  background: none;
  color: currentColor;
  padding: 0;
}

/* Optional nicer scrollbars */
.autocomplete-menu {
  --scroller-color: 0, 0%;
  --scroller-color-lightness: 80%;
  --scroller-bg-lightness: 90%;
  --scroller-hover-factor: 0.8;
  --scroller-thumb: hsl(var(--scroller-color), var(--scroller-color-lightness));
  /* Replicate hover for webkit */
  --scroller-thumb-hover: hsl(
    var(--scroller-color),
    calc(var(--scroller-color-lightness) * var(--scroller-hover-factor))
  );
  --scroller-background: hsl(var(--scroller-color), calc(var(--scroller-bg-lightness)));
  scrollbar-color: var(--scroller-thumb) var(--scroller-background);
  scrollbar-width: thin;
}

.autocomplete-menu::-webkit-scrollbar {
  width: 8px;
}

.autocomplete-menu::-webkit-scrollbar-track {
  background: var(--scroller-background);
}

.autocomplete-menu::-webkit-scrollbar-thumb {
  background: var(--scroller-thumb);
}

.autocomplete-menu::-webkit-scrollbar-thumb:hover {
  background: var(--scroller-thumb-hover);
}

// Styles for the loading state of a form
.loading {
  button[type='submit'] {
    @extend :disabled;

    &::before {
      content: '';
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
      border-width: 0.15em;

      @extend .spinner-border;
    }
  }
}
